#app {
//   // min-height: calc(100vh - $global-padding);
   font-family: "GGX88 W01 Light";
   font-size: 16px;
   font-style: normal;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

button:focus {
  outline: 0;
}